<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
<!-- Print message passed by `flash` function -->
{% with messages = get_flashed_messages() %}
   {%  if messages %}
        <ul class=flashes>
            {%  for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

{% if(user.is_authenticated) %}
    <h3>Hello {{ user.user_login }}</h3>
    <table>
        <tr>
            <!-- Redirect to folder forms -->
            <td><a href="{{ url_for('create_folder') }}" >Folder action</a></td>

        </tr>
        <tr>
            <!-- Redirect to geo forms -->
            <td><a href="{{ url_for('create_geo') }}" >Geo action</a></td>
        </tr>
        <tr>
            <!-- Redirect to note forms -->
            <td><a href="{{ url_for('create_note') }}" >Note action</a></td>
        </tr>
        <tr>
            <!-- Redirect to logout form -->
            <td><a href="{{ url_for('Logout') }}" >Logout</a></td>

        </tr>
    </table>

{%  else  %}
    <table>
        <tr>
            <!-- Redirect to register form -->
            <td><a href="{{ url_for('Register') }}" >Register</a></td>
        </tr>
        <tr>
            <!-- Redirect to login form -->
            <td><a href="{{ url_for('Login') }}" >Login</a></td>
        </tr>
        <tr>
            <!-- Redirect to reset password form -->
            <td><a href="{{ url_for('ResetPassword') }}" >Reset Password</a></td>
        </tr>

    </table>
{% endif %}

</body>
</html>
