<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New password</title>
</head>
<body>
<!-- Print message passed by `flash` function -->
{% with messages = get_flashed_messages() %}
    {%  if messages %}
        <ul class=flashes>
            {%  for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
<form method="POST">
    Please, enter the new password: <br>
    <table>
        <tr>
            <td>New password : </td>
            <td><input type="password" name="password" id="password" placeholder="password"></td>
        </tr>
        <tr>
            <td>Password retype : </td>
            <td><input type="password" name="check_password" id="check_password" placeholder="confirm password"></td>
        </tr>
        <tr>
            <td><input type="submit"></td>
        </tr>
    </table>
</form>
